<div class="background">
  <div class="content-wrapper">
    <section class="review">
      <h2 class="review__headline">Need a teamplayer?</h2>
      <h3 class="review__subtitle">Here's what my colleagues said about me</h3>

      <div class="review__card-container">
        @if (reviews.length > 0) { @for (review of reviews; track review.id) {
        <app-review-card
          [reviewerName]="review.reviewerName"
          [projectKey]="review.projectKey"
          [reviewTextKey]="review.reviewTextKey"
        ></app-review-card>
        } } @else {
        <p>Lade Reviews...</p>
        }
      </div>
    </section>
  </div>
</div>
