<div class="menu-dialog" [class.menu-dialog--open]="isOpen">
  <div class="menu-dialog__bar">
    <div class="menu-dialog__logo">
      <svg class="menu-dialog__logo-icon">
        <use xlink:href="#icon-my-logo"></use>
      </svg>
    </div>
    <div class="menu-dialog__close-button" (click)="onCloseButtonClick()">
      <svg class="menu-dialog__close-button-icon">
        <use xlink:href="#icon-close-button"></use>
      </svg>
    </div>
  </div>
  <nav class="menu-dialog__navigation">
    <ul class="menu-dialog__item-list">
      <li class="menu-dialog__item">
        <a
          class="menu-dialog__link"
          href="#about-me"
          (click)="onCloseButtonClick()"
          >{{ "nav.link_1" | translate }}</a
        >
      </li>
      <li class="menu-dialog__item">
        <a
          class="menu-dialog__link"
          href="#skills"
          (click)="onCloseButtonClick()"
          >{{ "nav.link_2" | translate }}</a
        >
      </li>
      <li class="menu-dialog__item">
        <a
          class="menu-dialog__link"
          href="#my-work"
          (click)="onCloseButtonClick()"
          >{{ "nav.link_3" | translate }}</a
        >
      </li>
      <li class="menu-dialog__item">
        <a
          class="menu-dialog__link"
          href="#contact"
          (click)="onCloseButtonClick()"
          >{{ "nav.link_4" | translate }}</a
        >
      </li>
      <li class="menu-dialog__item menu-dialog__language-switcher">
        <span
          class="menu-dialog__language-option"
          (click)="changeLanguage('de')"
          [class.active]="isLanguageActive('de')"
          >DE</span
        >
        <span class="menu-dialog__language-separator">/</span>
        <span
          class="menu-dialog__language-option"
          (click)="changeLanguage('en')"
          [class.active]="isLanguageActive('en')"
          >EN</span
        >
      </li>
    </ul>
  </nav>
</div>
