<div class="background">
  <div class="content-wrapper">
    <div class="portfolio">
      <div class="portfolio__bubble-element1">
        <app-bubble
          width="clamp(4.5rem, 10vw, 9rem)"
          height="clamp(4.5rem, 10vw, 9rem)"
          top=""
          left=""
        ></app-bubble>
      </div>
      <div class="portfolio__bubble-element2">
        <app-bubble
          width="clamp(4.5rem, 57vw, 100rem)"
          height="clamp(4.5rem, 54vw, 100rem)"
          top=""
          left=""
        ></app-bubble>
      </div>
      <div class="portfolio__bubble-element3">
        <app-bubble
          width="clamp(4.5rem, 57vw, 100rem)"
          height="clamp(4.5rem, 52vw, 100rem)"
          top=""
          left=""
        ></app-bubble>
      </div>
      <div class="portfolio__bubble-element4">
        <app-bubble
          width="clamp(4.5rem, 35vw, 100rem)"
          height="clamp(4.5rem, 32.5vw, 100rem)"
          top=""
          left=""
        ></app-bubble>
      </div>
      <header class="portfolio__header">
        <h2 class="portfolio__header--headline">
          {{ "portfolio.headline" | translate }}
        </h2>
        <h3 class="portfolio__header--subtitle">
          {{ "portfolio.subtitle" | translate }}
        </h3>
      </header>

      <div class="portfolio__projects">
        @if (projects.length > 0) { @for (project of projects; track project.id)
        {
        <app-project-view
          [nameKey]="project.nameKey"
          [descriptionKey]="project.descriptionKey"
          [imageUrl]="project.imageUrl"
          [technologies]="project.technologies"
          [liveUrl]="project.liveUrl"
          [githubUrl]="project.githubUrl"
        ></app-project-view>
        } }
      </div>
    </div>
  </div>
</div>
