@use "../../../styles" as *;

.portfolio {
  padding: 10rem 2rem;
  position: relative;
  overflow-x: hidden;

  &__bubble-element1 {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 2%;
    right: 20%;
    z-index: 1;
    --bubble-width: clamp(4.5rem, 10vw, 9rem);
    --bubble-height: clamp(4.5rem, 10vw, 9rem);
    --bubble-top: 0;
    --bubble-left: 0;
  }

  &__bubble-element2 {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 15.5%;
    left: -35%;
    z-index: 1;
    --bubble-width: clamp(4.5rem, 57vw, 100rem);
    --bubble-height: clamp(4.5rem, 54vw, 100rem);
    --bubble-top: 0;
    --bubble-left: 0;
  }

  &__bubble-element3 {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 47.5%;
    right: 35%;
    z-index: 1;
    --bubble-width: clamp(4.5rem, 57vw, 100rem);
    --bubble-height: clamp(4.5rem, 52vw, 100rem);
    --bubble-top: 0;
    --bubble-left: 0;
  }

  &__bubble-element4 {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 73.75%;
    left: -5%;
    z-index: 1;
    --bubble-width: clamp(4.5rem, 35vw, 100rem);
    --bubble-height: clamp(4.5rem, 32.5vw, 100rem);
    --bubble-top: 0;
    --bubble-left: 0;
  }

  &__bubble-element5 {
    display: none;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
    position: relative;
    z-index: 2;

    &--headline {
      font-family: $font-baloo;
      color: $brand-primary;
      font-size: clamp(4.2rem, 2.8rem + 5vw, 5.3rem);
    }

    &--subtitle {
      font-family: $font-montserrat;
      font-weight: 400;
      font-size: clamp(1.4rem, 0.85rem + 2vw, 2rem);
    }
  }

  &__projects {
    position: relative;
    z-index: 2;
  }

  @media (min-width: 1200px) {
    padding: 15rem 4rem;
    overflow-y: hidden;

    &__bubble-element1 {
      position: absolute;
      width: fit-content;
      height: fit-content;
      top: 3%;
      right: 0;
      left: 40%;

      --bubble-width: clamp(4.5rem, 10vw, 10rem);
      --bubble-height: clamp(4.5rem, 10vw, 10rem);
      --bubble-top: 0;
      --bubble-left: 0;
    }
    &__bubble-element2 {
      position: absolute;
      width: fit-content;
      height: fit-content;
      top: 28.5%;
      left: -10%;

      --bubble-width: clamp(4.5rem, 57vw, 40rem);
      --bubble-height: clamp(4.5rem, 54vw, 40rem);
      --bubble-top: 0;
      --bubble-left: 0;
    }
    &__bubble-element3 {
      position: absolute;
      width: fit-content;
      height: fit-content;
      top: 42.5%;
      right: 32.5%;

      --bubble-width: clamp(4.5rem, 58rem + 2vw, 70rem);
      --bubble-height: clamp(4.5rem, 58rem + 2vw, 70rem);
      --bubble-top: 0;
      --bubble-left: 0;
    }

    &__header {
      align-items: flex-start;
      text-align: left;
      margin-bottom: 8rem;
      width: 50%;
    }

    &__projects {
      display: grid;
      grid-template-columns: 1fr;
      gap: 12.5rem;
    }
  }
}
