@use "../../../styles" as *;

.portfolio {
  padding: 0rem 2rem;
  position: relative;
  &__bubble-element1 {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 2%;
    right: 20%;
  }
  &__bubble-element2 {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 15.5%;
    left: -35%;
  }
  &__bubble-element3 {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 47.5%;
    right: 35%;
  }
  &__bubble-element4 {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 73.75%;
    left: -5%;
  }
  &__projects {
    position: relative;
    z-index: 2;
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    padding-top: 10rem;
    z-index: 2;

    &--headline {
      font-family: $font-baloo;
      color: $brand-primary;
      font-size: clamp(4.2rem, 2.8rem + 5vw, 5.3rem);
    }
    &--subtitle {
      font-family: $font-montserrat;
      font-weight: 400;
      font-size: clamp(1.4rem, 0.85rem + 2vw, 2rem);
    }
  }
}
