<div class="background">
  <div class="content-wrapper">
    <div class="portfolio">
      <div class="portfolio__bubble-element1">
        <app-bubble></app-bubble>
      </div>
      <div class="portfolio__bubble-element2">
        <app-bubble></app-bubble>
      </div>
      <div class="portfolio__bubble-element3">
        <app-bubble></app-bubble>
      </div>
      <div class="portfolio__bubble-element4">
        <app-bubble></app-bubble>
      </div>
      <div class="portfolio__bubble-element5">
        <app-bubble></app-bubble>
      </div>
      <header class="portfolio__header">
        <h2 class="portfolio__header--headline">
          {{ "portfolio.headline" | translate }}
        </h2>
        <h3 class="portfolio__header--subtitle">
          {{ "portfolio.subtitle" | translate }}
        </h3>
      </header>

      <div class="portfolio__projects">
        @if (projects.length > 0) { @for (project of projects; track project.id;
        let i = $index) {
        <app-project-view
          [attr.data-aos]="i % 2 === 0 ? 'fade-left' : 'fade-right'"
          data-aos-duration="600"
          [attr.data-aos-delay]="100 + i * 50"
          [nameKey]="project.nameKey"
          [descriptionKey]="project.descriptionKey"
          [imageUrl]="project.imageUrl"
          [technologies]="project.technologies"
          [liveUrl]="project.liveUrl"
          [githubUrl]="project.githubUrl"
          [reverseLayout]="i % 2 !== 0"
        ></app-project-view>
        } }
      </div>
    </div>
  </div>
</div>
