<div class="background">
  <div class="content-wrapper">
    <div class="portfolio">
      <header class="portfolio__header">
        <h2 class="portfolio__header--headline">
          {{ "portfolio.headline" | translate }}
        </h2>
        <h3 class="portfolio__header--subtitle">
          {{ "portfolio.subtitle" | translate }}
        </h3>
      </header>

      <div class="portfolio__projects">
        @if (projects.length > 0) { @for (project of projects; track project.id)
        {
        <app-project-view
          [nameKey]="project.nameKey"
          [descriptionKey]="project.descriptionKey"
          [imageUrl]="project.imageUrl"
          [technologies]="project.technologies"
          [liveUrl]="project.liveUrl"
          [githubUrl]="project.githubUrl"
        ></app-project-view>
        } }
      </div>
    </div>
  </div>
</div>
