@use "../../../../styles" as *;

.project-view {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  z-index: 3;

  &__image-link {
    display: block;
    cursor: default;
    pointer-events: none;
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  &__content {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }

  &__name {
    font-family: $font-montserrat;
    font-size: clamp(2.2rem, 2.4rem + 1vw, 2.8rem);
    color: $brand-primary;
    margin: 0 0 1rem 0;
    text-align: center;
  }

  &__tech-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem 0;
    text-align: center;
  }

  &__tech-item {
    font-family: $font-montserrat;
    font-size: 1.9rem;
    color: $brand-primary;
    &::after {
      content: "|";
      margin: 0 0.8rem;
      color: rgba($brand-primary, 0.5);
      font-weight: 400;
    }

    &:last-child::after {
      content: "";
      margin: 0;
    }
  }

  &__description {
    font-family: $font-montserrat;
    font-size: clamp(1.2rem, 1.3rem + 1vw, 1.6rem);
    line-height: 120%;
    color: $text-body;
    text-align: center;
    flex-grow: 1;
    padding-bottom: 2rem;
  }

  &__actions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  &__button-link {
    text-decoration: none;
  }
}

@media (min-width: 1200px) {
  .project-view {
    flex-direction: row;
    gap: 5rem;
    margin-bottom: 12.5rem;
    &__image-container {
      width: 50%;
    }
    &__image-link {
      pointer-events: auto;
      cursor: pointer;
      display: block;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
    &__content {
      padding: 0;
      width: 50%;
      align-items: flex-start;
    }
    &__name {
      font-size: clamp(2.2rem, 2.2rem + 2vw, 4rem);
    }
    &__tech-item {
      font-family: $font-montserrat;
      font-size: 3rem;
      color: $brand-primary;
    }

    &__description {
      text-align: start;
      font-size: clamp(1.2rem, 1.3rem + 1vw, 2.25rem);
    }

    &--reversed {
      flex-direction: row-reverse;

      .project-view__content {
        align-items: flex-end;
      }
      .project-view__description {
        text-align: right;
      }
      .project-view__actions {
        flex-direction: row-reverse;
      }
    }
  }
}
