@use "../../../styles" as *;

.background {
  background: linear-gradient(
    120deg,
    $brand-primary 0%,
    $brand-primary-gradient 90%
  );
}

.skillSet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  padding: 0rem 2rem 5rem 2rem;
  position: relative;

  &__headline {
    padding: 3rem 0;
    margin-bottom: 2rem;
    font-size: clamp(5.5rem, 3.4rem + 4vw, 6rem);
    font-family: $font-baloo;
    color: $on-brand-primary;
    text-align: center;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
    max-width: 1000px;
    padding: 1rem 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
    flex-basis: 80px;

    &:hover {
      transform: translateY(-5px);
    }

    &__icon {
      width: 6rem;
      height: 6rem;
      margin-bottom: 1rem;
      fill: $on-brand-primary;
    }

    &__name {
      font-family: $font-montserrat;
      font-size: 1.4rem;
      color: $on-brand-primary;
      text-align: center;
      line-height: 1.3;
    }
  }
}

@media (min-width: 1200px) {
  .skillSet {
    &__headline {
      font-size: 8rem;
    }

    &__grid {
      max-width: 75rem;
    }

    &__item {
      flex-basis: 100px;

      &__name {
        font-size: 1.8rem;
      }
    }
  }
}
