<div class="background">
  <div class="content-wrapper">
    <nav>
      <div class="icon-box_my-logo">
        <svg class="icon_my-logo">
          <use xlink:href="#icon-my-logo"></use>
        </svg>
      </div>
      <div class="icon-box_burger-menu" (click)="toggleDialog()">
        <svg class="icon_burger-menu">
          <use xlink:href="#icon-burger-menu"></use>
        </svg>
      </div>
    </nav>
    @if (isDialogVisible) {
    <app-menu-dialog
      [isOpen]="isDialogOpen"
      (closeDialogEvent)="closeDialog()"
    ></app-menu-dialog>
    }
  </div>
</div>
