@import "../../styles.scss";

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background: linear-gradient(
    180deg,
    $on-brand-primary 0%,
    $on-brand-primary-gradient 50%
  );
  .headline-box {
    width: 37rem;
    color: $on-brand-primary;
    z-index: 2;
    .headline_subtitle {
      font-family: $font-montserrat, sans;
      font-size: 3.6rem;
      padding-left: 0.2rem;
    }
    .headline_h1 {
      font-family: $font-baloo, sans;
      display: flex;
      flex-direction: column;
      margin-top: -2rem;
      .h1_top {
        font-size: $font-size-h1;
      }
      .h1_bottom {
        font-size: 6.7rem;
        margin-top: -5rem;
      }
    }
  }
}
