<div class="background">
  <div class="content-wrapper">
    <div class="aboutMe">
      <div class="aboutMe__bubble-element1">
        <app-bubble
          top="-9rem"
          left="-7.53rem"
          width="15.6rem"
          height="15.6rem"
        ></app-bubble>
      </div>
      <div class="aboutMe__bubble-element2">
        <app-bubble
          top="3.5rem"
          left=""
          width="6.1rem"
          height="6.2rem"
        ></app-bubble>
      </div>
      <h2 class="aboutMe__headline">Let's work together</h2>
      <div class="aboutMe__information-box">
        <p class="aboutMe__information-box__intro">I am</p>
        <ul class="aboutMe__information-box__details-list">
          <li class="aboutMe__information-box__detail-item">
            <svg class="aboutMe__information-box__detail-icon">
              <use xlink:href="#location-logo"></use>
            </svg>
            <span class="aboutMe__information-box__detail-text"
              >located in Munich</span
            >
          </li>
          <li class="aboutMe__information-box__detail-item">
            <svg class="aboutMe__information-box__detail-icon2">
              <use xlink:href="#pc-icon"></use>
            </svg>
            <span class="aboutMe__information-box__detail-text"
              >open to Work Remote</span
            >
          </li>
          <li class="aboutMe__information-box__detail-item">
            <svg class="aboutMe__information-box__detail-icon3">
              <use xlink:href="#bag-icon"></use>
            </svg>
            <span class="aboutMe__information-box__detail-text"
              >open to relocate</span
            >
          </li>
        </ul>
      </div>
      <div class="aboutMe__passion">
        <p class="aboutMe__passion-text">
          Write some information about yourself that is IT related. Why are you
          passionate about programming? What is your source of inspiration for
          improving your coding skills? Show a desire to learn new technologies.
        </p>
      </div>

      <div class="aboutMe__strengths">
        <p class="aboutMe__strengths-text">
          Describe your approach to problem solving. Do you learn from each
          challenge to find the most efficient or elegant solution? You can
          include some key attributes such as: analytical thinking, creativity,
          persistence and collaboration.
        </p>
      </div>
      <app-custom-button
        size="large"
        color="primary"
        class="aboutMe__cta-button"
      >
        Send a Message
      </app-custom-button>
    </div>
  </div>
</div>
