@use "../../../styles" as *;

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $on-brand-primary;
  padding: 0rem 2rem;
  position: relative;

  &__bubble-element1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-50%);
    width: 15rem;
    z-index: 1;
  }
  &__bubble-element2 {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 7.5rem;
  }
  &__headline {
    z-index: 3;
    width: 100%;
    text-align: center;
    font-family: $font-baloo, sans;
    font-size: clamp(4.7rem, 3.4rem + 4vw, 5.3rem);
    color: $brand-primary;
    margin: 15rem auto 5rem auto;
    line-height: 120%;
  }
  &__information-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    margin-bottom: 5rem;

    &__intro {
      color: $brand-primary;
      font-family: $font-baloo, sans;
      font-size: clamp(2.75rem, 2.75rem + 2vw, 5rem);
      letter-spacing: 1%;
    }
    &__details-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }

    &__detail-item {
      display: flex;
      align-items: center;
      &:nth-child(2) {
        .aboutMe__information-box__detail-text {
          padding-left: 1.1rem;
        }
      }
      &:nth-child(3) {
        .aboutMe__information-box__detail-text {
          padding-left: 1.8rem;
        }
      }
    }

    &__detail-icon {
      width: 3.25rem;
      height: 4rem;
    }

    &__detail-icon2 {
      width: 4.2rem;
      height: 4.485rem;
    }
    &__detail-icon3 {
      width: 3.5rem;
      height: 4.9rem;
    }

    &__detail-text {
      color: $brand-primary;
      font-family: $font-montserrat;
      font-size: clamp(1.5rem, 1.2rem + 2vw, 3rem);
      padding-left: 2rem;
    }
  }

  &__passion {
    width: 100%;
    margin-bottom: 3.2rem;
    &-text {
      color: $text-body;
      font-family: $font-montserrat;
      font-size: clamp(1.8rem, 1.5rem + 1vw, 2.25rem);
      line-height: 120%;
    }
  }

  &__strengths {
    width: 100%;
    margin-bottom: 4rem;
    &-text {
      color: $text-body;
      font-family: $font-montserrat;
      font-size: clamp(1.8rem, 1.5rem + 1vw, 2.25rem);
      line-height: 120%;
    }
  }

  &__cta-button {
    margin-bottom: 11rem;
  }
}
