<div class="background">
  <div class="content-wrapper">
    <section class="contact">
      <div class="contact__bubble-element">
        <app-bubble
          top="10vw"
          left="55vw"
          width="7rem"
          height="7rem"
        ></app-bubble>
      </div>
      <header class="contact__header">
        <h2 class="contact__headline">Contact</h2>
        <h3 class="contact__subtitle">Got a problem to solve?</h3>
      </header>

      <div class="contact__cta">
        <p class="contact__cta-description">
          Encourage people to contact you and describe what role you are
          interested in. Show that you will add value to their projects through
          your work.
        </p>
        <p class="contact__cta-text">
          Need a Frontend developer?
          <span class="contact__cta-highlight">Contact me!</span>
        </p>
      </div>
      <div class="contact__form-wrapper">
        <app-contact-form></app-contact-form>
      </div>
    </section>
  </div>
</div>
