@use "../../../styles" as *;

.site-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 11rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2.5rem;
  align-items: center;
  z-index: 1000;

  &__logo-icon {
    width: 6.4rem;
    height: 6.4rem;
    fill: $on-brand-primary;
    transition: fill 0.3s ease-in-out;

    &.logo--dark-fill {
      fill: $brand-primary;
    }
  }

  &__menu-toggle {
    cursor: pointer;
  }

  &__menu-toggle-icon {
    width: 3rem;
    height: 2.8rem;
    stroke: $brand-primary;
  }
}
