<div class="background">
  <div class="content-wrapper">
    <div class="aboutMe">
      <div class="aboutMe__bubble-element1">
        <app-bubble
          top="-9rem"
          left="-7.53rem"
          width="15.6rem"
          height="15.6rem"
        ></app-bubble>
      </div>
      <div class="aboutMe__bubble-element2">
        <app-bubble
          top="3.5rem"
          left=""
          width="6.1rem"
          height="6.2rem"
        ></app-bubble>
      </div>
      <h2 class="aboutMe__headline">Let's work together</h2>
      <div class="aboutMe__information-box">
        <p class="aboutMe__information-box__intro">I am</p>
        <ul class="aboutMe__information-box__details-list">
          <li class="aboutMe__information-box__detail-item">
            <svg class="aboutMe__information-box__detail-icon">
              <use xlink:href="#location-logo"></use>
            </svg>
            <span class="aboutMe__information-box__detail-text"
              >located in Munich</span
            >
          </li>
          <li class="aboutMe__information-box__detail-item">
            <svg class="aboutMe__information-box__detail-icon2">
              <use xlink:href="#pc-icon"></use>
            </svg>
            <span class="aboutMe__information-box__detail-text"
              >open to Work Remote</span
            >
          </li>
          <li class="aboutMe__information-box__detail-item">
            <svg class="aboutMe__information-box__detail-icon3">
              <use xlink:href="#bag-icon"></use>
            </svg>
            <span class="aboutMe__information-box__detail-text"
              >open to relocate</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
