<div class="background">
  <div class="content-wrapper">
    <div class="aboutMe">
      <div class="aboutMe__bubble-element1">
        <app-bubble
          top="-9rem"
          left="-7.53rem"
          width="15.6rem"
          height="15.6rem"
        ></app-bubble>
      </div>
      <div class="aboutMe__bubble-element2">
        <app-bubble
          top="3.5rem"
          left=""
          width="6.1rem"
          height="6.2rem"
        ></app-bubble>
      </div>
      <div class="aboutMe__information-box">
        <p class="aboutMe__intro">I am</p>
        <ul class="aboutMe__details-list">
          <li class="aboutMe__detail-item">
            <svg
              class="aboutMe__detail-icon"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <use xlink:href="#icon-location"></use>
            </svg>
            <span class="aboutMe__detail-text">located in Munich</span>
          </li>
          <li class="aboutMe__detail-item">
            <svg
              class="aboutMe__detail-icon"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <use xlink:href="#icon-remote-work"></use>
            </svg>
            <span class="aboutMe__detail-text">open to Work Remote</span>
          </li>
          <li class="aboutMe__detail-item">
            <svg
              class="aboutMe__detail-icon"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <use xlink:href="#icon-relocate"></use>
            </svg>
            <span class="aboutMe__detail-text">open to relocate</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
