<div class="background">
  <div class="content-wrapper">
    <section class="review">
      <h2 class="review__headline">
        {{ "reviews_section.headline" | translate }}
      </h2>
      <h3 class="review__subtitle">
        {{ "reviews_section.subtitle" | translate }}
      </h3>

      <div class="review__card-container">
        @if (reviews.length > 0) { @for (review of reviews; track review.id) {
        <app-review-card
          [reviewerName]="review.reviewerName"
          [projectKey]="review.projectKey"
          [reviewTextKey]="review.reviewTextKey"
        ></app-review-card>
        } } @else {
        <p>{{ "reviews_section.loading" | translate }}</p>
        }
      </div>
    </section>
  </div>
</div>
