@use "../../../styles" as *;

.background {
  background: linear-gradient(
    120deg,
    $brand-primary 0%,
    $brand-primary-gradient 90%
  );
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  position: relative;
  padding: 0rem 2rem 4rem 2rem;

  &__headline {
    font-family: $font-baloo;
    font-size: clamp(2.8rem, 2.4rem + 1.5vw, 5.3rem);
    color: $on-brand-primary;
    padding-top: 3rem;
    text-align: center;
  }

  &__subtitle {
    font-family: $font-montserrat, sans-serif;
    font-size: clamp(1.4rem, 1.4rem + 0.75vw, 1.8rem);
    color: $on-brand-primary;
    font-weight: 400;
    margin-bottom: 4rem;
    text-align: center;
  }

  // Styles für den Scroll Snap Container
  &__card-container {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 5vw;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    margin-bottom: 2rem;
  }

  app-review-card {
    flex: 0 0 100vw;
    padding: 0 2rem;
    scroll-snap-align: center;
    scroll-snap-stop: always;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
