<form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <!-- FELD FÜR NAME -->
  <fieldset class="contact-form__field-group">
    <legend class="contact-form__legend">Your Name</legend>
    <input
      id="name"
      type="text"
      formControlName="name"
      class="contact-form__input"
      placeholder=" "
      [class.invalid]="name?.invalid && (name?.dirty || name?.touched)"
      [class.valid]="name?.valid && (name?.dirty || name?.touched)"
      required
    />
    <svg class="contact-form__error-icon" aria-hidden="true">
      <use href="#icon-error"></use>
    </svg>
    <svg class="contact-form__success-icon" aria-hidden="true">
      <use href="#icon-correct"></use>
    </svg>
  </fieldset>
  @if (showNameRequiredError) {
  <div class="contact-form__error">
    <p>{{ "form.errors.name_required" | translate }}</p>
  </div>
  }

  <!-- FELD FÜR EMAIL -->
  <fieldset class="contact-form__field-group">
    <legend class="contact-form__legend">Your email</legend>
    <input
      id="email"
      type="email"
      formControlName="email"
      class="contact-form__input"
      placeholder=" "
      [class.invalid]="email?.invalid && (email?.dirty || email?.touched)"
      [class.valid]="email?.valid && (email?.dirty || email?.touched)"
      required
    />
    <svg class="contact-form__error-icon" aria-hidden="true">
      <use href="#icon-error"></use>
    </svg>
    <svg class="contact-form__success-icon" aria-hidden="true">
      <use href="#icon-correct"></use>
    </svg>
  </fieldset>
  <div class="contact-form__error">
    @if (showEmailRequiredError) {
    <p>{{ "form.errors.email_required" | translate }}</p>
    } @else if (showEmailInvalidError) {
    <p>{{ "form.errors.email_invalid" | translate }}</p>
    }
  </div>

  <!-- FELD FÜR NACHRICHT -->
  <fieldset class="contact-form__field-group">
    <legend class="contact-form__legend">Your message</legend>
    <textarea
      id="message"
      formControlName="message"
      class="contact-form__textarea"
      rows="5"
      placeholder=" "
      [class.invalid]="message?.invalid && (message?.dirty || message?.touched)"
      [class.valid]="message?.valid && (message?.dirty || message?.touched)"
      required
    ></textarea>
    <svg class="contact-form__error-icon" aria-hidden="true">
      <use href="#icon-error"></use>
    </svg>
    <svg class="contact-form__success-icon" aria-hidden="true">
      <use href="#icon-correct"></use>
    </svg>
  </fieldset>
  <div class="contact-form__error">
    @if (showMessageRequiredError) {
    <p>{{ "form.errors.message_required" | translate }}</p>
    } @else if (showMessageMinLengthError) {
    <p>
      {{
        "form.errors.message_minlength"
          | translate : { requiredLength: messageRequiredLength }
      }}
    </p>
    }
  </div>
  <div class="contact-form__privacy">
    <div class="contact-form__privacy-control">
      <input
        id="privacy"
        type="checkbox"
        formControlName="privacy"
        class="contact-form__checkbox"
        required
      />
      <label for="privacy" class="contact-form__privacy-label">
        {{ "form.privacy.text_part1" | translate }}
        <a
          href="/privacy-policy"
          class="contact-form__privacy-link"
          target="_blank"
        >
          {{ "form.privacy.link_text" | translate }}
        </a>
        {{ "form.privacy.text_part2" | translate }}
      </label>
    </div>

    <!-- NEU: Fehleranzeige für die Checkbox -->
    @if (showPrivacyError) {
    <div class="contact-form__error">
      <p>{{ "form.errors.privacy_required" | translate }}</p>
    </div>
    }
  </div>

  <!-- BUTTONS -->
  <div class="contact-form__actions">
    <app-custom-button
      type="submit"
      size="normal"
      [color]="contactForm.valid ? 'active' : 'inactive'"
      [disabled]="contactForm.invalid"
    >
      Send a message
    </app-custom-button>
  </div>
</form>
