@use "../../../styles" as *;

.contact-form {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  &__field-group {
    position: relative;
    padding: 0;
    margin: 0;
    border: 1px solid $brand-primary;
    border-radius: 10px;
    transition: border-color 0.2s ease;

    &:focus-within {
      border: 2.5px solid $brand-primary;
      .contact-form__legend {
        color: $brand-primary;
      }
    }

    .contact-form__input.invalid ~ .contact-form__error-icon,
    .contact-form__textarea.invalid ~ .contact-form__error-icon {
      opacity: 1;
    }

    .contact-form__input.valid ~ .contact-form__success-icon,
    .contact-form__textarea.valid ~ .contact-form__success-icon {
      opacity: 1;
    }
  }

  &__legend {
    position: absolute;
    top: 50%;
    left: 1.2rem;
    transform: translateY(-50%);
    transition: all 0.2s ease-out;
    pointer-events: none;
    font-family: $font-poppins;
    font-size: 1.6rem;
    color: $text-body;
    background-color: $on-brand-primary;
    padding: 0 0.4rem;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 1.2rem 4rem 1.2rem 1.2rem;
    font-family: $font-poppins;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    color: $text-body;

    &:focus {
      outline: none;
    }
  }

  &__error-icon,
  &__success-icon {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%);
    width: 2.2rem;
    height: 2.2rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }

  // === NEU: Spezifische Positionierung für Icons in der Textarea ===
  &__textarea ~ &__error-icon,
  &__textarea ~ &__success-icon {
    top: 1.2rem; // Fester Abstand von oben, passend zum padding
    transform: none; // Die vertikale Zentrierung aufheben
  }

  &__field-group:has(.contact-form__input:focus),
  &__field-group:has(.contact-form__input:not(:placeholder-shown)),
  &__field-group:has(.contact-form__textarea:focus),
  &__field-group:has(.contact-form__textarea:not(:placeholder-shown)) {
    .contact-form__legend {
      top: 0;
      transform: translateY(-50%) scale(0.85);
      font-weight: 600;
      color: $brand-primary;
    }
  }

  &__textarea {
    resize: vertical;
    min-height: 12rem;
  }

  &__error {
    p {
      color: red;
      font-size: 1.4rem;
      margin: 1.25rem 1.2rem;
    }
  }

  &__actions {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
  }
}
