@import "../../../styles.scss";

.bubble {
  position: absolute;
  background: radial-gradient(
    circle,
    $brand-primary 0%,
    $brand-primary 30%,
    $brand-primary-gradient 80%
  );
  border-radius: 50%;
}
