@use "../../../../styles" as *;

.review-card {
  display: flex;
  flex-direction: column;
  height: 21.5rem;
  justify-content: center;
  align-items: center;
  &__header {
    font-family: $font-montserrat;
    color: $on-brand-primary;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__reviewer-name {
    font-size: clamp(1.8rem, 1.8rem + 2vw, 2.4rem);
    font-weight: 700;
    padding-bottom: 1rem;
  }
  &__project-name {
    font-size: clamp(1.4rem, 1.4rem + 0.5vw, 1.8rem);
  }
  &__text {
    font-family: $font-montserrat;
    font-size: clamp(1.4rem, 1.4rem + 0.5vw, 1.8rem);
    color: $on-brand-primary;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .review-card {
    height: 25rem;
  }
}
