@use "../../../../styles" as *;

.bubble {
  position: absolute;
  background: radial-gradient(
    circle,
    $brand-primary 0%,
    $brand-primary 30%,
    $brand-primary-gradient 80%
  );
  border-radius: 50%;

  width: var(--bubble-width, 10rem);
  height: var(--bubble-height, 10rem);
  top: var(--bubble-top, 0);
  left: var(--bubble-left, 0);
}
