<div class="background">
  <div class="content-wrapper">
    <footer class="site-footer">
      <div class="site-footer__logo">
        <a href="#home" aria-label="Zurück zum Anfang">
          <svg class="site-footer__logo-icon" aria-label="Mein Logo">
            <use xlink:href="#icon-my-logo"></use>
          </svg>
        </a>
      </div>

      <div class="site-footer__center-content">
        <p class="site-footer__copyright">
          &copy;
          <span class="site-footer__copyright-name">Alex Russotto</span>
          <span class="site-footer__copyright-year">2025</span>
        </p>
        <div class="site-footer__legal-notice">
          <a [routerLink]="['/legal-notice']" class="site-footer__legal-link">
            {{ "footer.legal_notices" | translate }}
          </a>
        </div>
      </div>

      <nav class="site-footer__social-nav" aria-label="Soziale Medien Links">
        <ul class="site-footer__social-list">
          <li class="site-footer__social-item">
            <a
              href="https://github.com/TaektuCode"
              class="site-footer__social-link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="GitHub Profil"
            >
              <svg class="site-footer__social-icon" aria-hidden="true">
                <use xlink:href="#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="site-footer__social-item">
            <a
              href="mailto:info@russottoalex.dev"
              class="site-footer__social-link"
              aria-label="E-Mail senden"
            >
              <svg class="site-footer__social-icon" aria-hidden="true">
                <use xlink:href="#icon-email"></use>
              </svg>
            </a>
          </li>
          <li class="site-footer__social-item">
            <a
              href="https://www.linkedin.com/in/alex-russotto-7a2r93/"
              class="site-footer__social-link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn Profil"
            >
              <svg class="site-footer__social-icon" aria-hidden="true">
                <use xlink:href="#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </footer>
  </div>
</div>
