@use "../../../styles" as *;

.background {
  background: linear-gradient(
    120deg,
    $brand-primary 0%,
    $brand-primary-gradient 90%
  );
}

.site-footer {
  height: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  gap: 2rem;
  padding: 2rem;

  &__logo-icon {
    fill: $on-brand-primary;
  }

  &__copyright {
    display: flex;
    justify-content: center;
    font-family: $font-montserrat;
    font-size: clamp(1.8rem, 1.7rem + 1vw, $font-size-subtitle);
    margin-bottom: 2rem;
    color: $on-brand-primary;
  }

  &__copyright-name {
    padding: 0 1rem 0 0.5rem;
  }

  &__social-list {
    display: flex;
    gap: 4.2rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__social-icon {
    height: 30px;
    width: 30px;
    fill: $on-brand-primary;
  }

  &__legal-notice {
    color: $on-brand-primary;
  }

  &__legal-link {
    font-family: $font-poppins;
    font-size: 1.6rem;
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: inherit;
    }
  }
}

@media (min-width: 1200px) {
  .site-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20rem;
    padding: 2rem 4rem;
    gap: 2rem;

    &__logo {
      order: 1;
      flex: 1;
      display: flex;
      justify-content: flex-start;
    }

    &__center-content {
      order: 2;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__social-nav {
      order: 3;
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

    &__copyright {
      margin-bottom: 1rem;
    }
    &__legal-notice {
      margin-top: 1rem;
    }
  }
}
