@use "../../../styles" as *;

.site-footer {
  height: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &__logo-icon {
    fill: $brand-primary;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__copyright {
    display: flex;
    justify-content: center;
    font-family: $font-montserrat;
    font-size: clamp(1.8rem, 1.7rem + 1vw, $font-size-subtitle);
    margin-bottom: 2rem;
  }
  &__copyright-name {
    padding: 0 1rem 0 0.5rem;
  }
  &__social-list {
    display: flex;
    gap: 4.2rem;
    list-style: none;
  }
  &__social-icon {
    height: 30px;
    width: 30px;
  }
  &__legal-notice {
    margin-top: 2rem;
  }
  &__legal-link {
    font-family: $font-poppins;
    font-size: 1.6rem;
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: inherit;
    }
  }
}
